html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Great Vibes";
  src: url("../../fonts/GreatVibes-Regular.eot");
  src: url("../../fonts/GreatVibes-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../../fonts/GreatVibes-Regular.woff") format("woff"), url("../../fonts/GreatVibes-Regular.ttf") format("truetype"), url("../../fonts/GreatVibes-Regular.svg#GreatVibes-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Henny Penny";
  src: url("../../fonts/HennyPenny-Regular.eot");
  src: url("../../fonts/HennyPenny-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/HennyPenny-Regular.woff2") format("woff2"), url("../../fonts/HennyPenny-Regular.woff") format("woff"), url("../../fonts/HennyPenny-Regular.ttf") format("truetype"), url("../../fonts/HennyPenny-Regular.svg#HennyPenny-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lobster";
  src: url("../../fonts/Lobster-Regular.eot");
  src: url("../../fonts/Lobster-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lobster-Regular.woff2") format("woff2"), url("../../fonts/Lobster-Regular.woff") format("woff"), url("../../fonts/Lobster-Regular.ttf") format("truetype"), url("../../fonts/Lobster-Regular.svg#Lobster-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fjalla One";
  src: url("../../fonts/FjallaOne-Regular.eot");
  src: url("../../fonts/FjallaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/FjallaOne-Regular.woff2") format("woff2"), url("../../fonts/FjallaOne-Regular.woff") format("woff"), url("../../fonts/FjallaOne-Regular.ttf") format("truetype"), url("../../fonts/FjallaOne-Regular.svg#FjallaOne-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Harrington";
  src: url("../../fonts/Harrington.eot");
  src: url("../../fonts/Harrington.eot?#iefix") format("embedded-opentype"), url("../../fonts/Harrington.woff2") format("woff2"), url("../../fonts/Harrington.woff") format("woff"), url("../../fonts/Harrington.ttf") format("truetype"), url("../../fonts/Harrington.svg#Harrington") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body header {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 0;
  background-color: #dddde1;
  position: fixed;
  top: 0;
  z-index: 2;
}
body header .logo-box {
  width: 170px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  body header .logo-box {
    display: none;
  }
}
body header .logo-box .logo-img {
  width: 50px;
  height: 50px;
}
body header .flag-box {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../img/georgia.png);
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
body header .flag-box .header-h1 h1 {
  font-family: "Harrington";
  font-size: 50px;
  font-weight: bolder;
  color: #434141;
}
body header .flag-box .header-h5 {
  font-family: "Lobster";
  font-size: 30px;
}
@media (max-width: 480px) {
  body header .flag-box .header-h5 {
    font-size: 25px;
  }
}
body header .language-box,
body header .language-box1 {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .language-box .lang-links,
body header .language-box1 .lang-links {
  display: flex;
}
body header .language-box .lang-links .lang-flag,
body header .language-box1 .lang-links .lang-flag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 10px;
}
body header .language-box1 {
  display: none;
}
@media (max-width: 640px) {
  body header .language-box1 {
    display: block;
  }
}
body .body-box {
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 20px 50px 20px;
}
@media (max-width: 640px) {
  body .body-box {
    height: 1250px;
    justify-content: space-evenly;
  }
}
body .body-box .all-products {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 640px) {
  body .body-box .all-products {
    height: 850px;
    flex-direction: column;
    justify-content: space-between;
  }
}
body .body-box .all-products .product-type {
  width: 300px;
  display: flex;
  border-radius: 10%;
  border: 3px dotted #4b4bf5;
}
@media (max-width: 750px) {
  body .body-box .all-products .product-type {
    width: 250px;
  }
}
body .body-box .all-products .product-type .create,
body .body-box .all-products .product-type .products {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10%;
}
body .body-box .all-products .product-type .create .idea-p,
body .body-box .all-products .product-type .products .idea-p {
  font-family: "Henny Penny";
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
@media (max-width: 750px) {
  body .body-box .all-products .product-type .create .idea-p,
  body .body-box .all-products .product-type .products .idea-p {
    font-size: 25px;
  }
}
body .body-box .all-products .product-type .create .idea-painting,
body .body-box .all-products .product-type .products .idea-painting {
  width: 100%;
  height: 250px;
  background-image: url(../../img/painting.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
body .body-box .all-products .product-type .create .product-painting,
body .body-box .all-products .product-type .products .product-painting {
  width: 100%;
  height: 250px;
  background-image: url(../../img/product.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
body .body-box .footer-box {
  width: 250px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 25px;
  padding: 10px;
  border-radius: 25px;
  background-color: #d9d6d6;
}
body .body-box .footer-box .soc-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #1877F2;
  cursor: pointer;
}
body .body-box .footer-box .soc-box .media-icons {
  display: none;
  width: 35px;
  height: 150px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 94px;
  background-color: #b8f59d;
  border-radius: 30px;
  padding-bottom: 8px;
}
body .body-box .footer-box .soc-box .media-icons .fa-brands {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .body-box .footer-box .soc-box .media-icons .insta-back {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-image: url(../../img/insta-back.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
body .body-box .footer-box .soc-box .media-icons .insta-back .fa-instagram {
  font-size: 24px;
}
body .body-box .footer-box .soc-title {
  width: 60px;
  height: 15px;
  position: fixed;
  left: 50%;
  bottom: 60px;
  font-family: "Henny Penny";
  font-weight: bolder;
  display: none;
  transform: translate(-50%, -50%);
}
body .body-box .footer-box .soc-box:hover + p {
  display: block;
}
body .body-box .footer-box .menu-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #1877F2;
  cursor: pointer;
}
body .body-box .footer-box .menu-box .burger-icon {
  display: block;
  color: black;
  font-size: 30px;
  padding-top: 3px;
  cursor: pointer;
}
body .body-box .footer-box .menu-box .menu-ul1 {
  display: none;
}
body .body-box .footer-box .menu-box .menu-ul1 li {
  font-family: "Fjalla One";
  font-size: 16px;
}
body .body-box .footer-box .menu-box .menu-ul1 li .active {
  font-weight: bolder;
  color: darkblue;
}
body .body-box .footer-box .menu-box .menu-ul1 li a {
  color: black;
}
body .body-box .footer-box .menu-box .menu-ul1 li:first-child {
  font-size: 18px;
}
body .body-box .footer-box .menu-box .menu-ul1 li:last-child {
  margin-top: 15px;
}
body .body-box .footer-box .menu-box .menu-ul1.open-menu {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -85%);
  background-color: #b8f59d;
}
body .body-box .footer-box .menu-title {
  width: 60px;
  height: 15px;
  position: fixed;
  left: 50%;
  bottom: 60px;
  font-family: "Henny Penny";
  font-weight: bolder;
  display: none;
  transform: translate(-50%, -50%);
}
body .body-box .footer-box .menu-box:hover + p {
  display: block;
}
body .body-box .footer-box .share-button {
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #1877F2;
  border-radius: 30px;
  border-style: none;
}
@media (max-width: 1024px) {
  body .body-box .footer-box .share-button {
    display: flex;
  }
}
body .body-box .footer-box .share-button .icon {
  color: white;
  display: table-cell;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  padding-right: 2px;
}
body .body-box .footer-box .container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1024px) {
  body .body-box .footer-box .container {
    display: none;
  }
}
body .body-box .footer-box .container .circle-bg {
  height: 30px;
  width: 30px;
  background-color: #1877F2;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  vertical-align: middle;
}
body .body-box .footer-box .container .circle-bg .icon {
  color: white;
  display: table-cell;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  padding-right: 2px;
}
body .body-box .footer-box .container .outer-icons {
  height: 150px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 94px;
  background-color: #b8f59d;
  border-radius: 30px;
  padding-top: 8px;
}
body .body-box .footer-box .container .outer-icons .share-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .body-box .footer-box .container .outer-icons .share-list a span {
  border-radius: 30px;
}
body .body-box .footer-box .container .outer-icons .share-list .insta-back {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-image: url(../../img/insta-back.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
body .body-box .footer-box .container .outer-icons .share-list .insta-back .fa-instagram {
  font-size: 24px;
}
body .body-box .footer-box .share-title {
  height: 15px;
  position: fixed;
  left: 50%;
  bottom: 60px;
  font-family: "Henny Penny";
  font-weight: bolder;
  display: none;
  transform: translate(-50%, -50%);
}
body .body-box .footer-box .container:hover + p {
  display: block;
}
body .body-box .footer-hide {
  position: fixed;
  bottom: 5px;
  border-radius: 30px;
  font-size: 10px;
}
body .body-box .hidden {
  display: none;
}

.prodyct-body {
  height: 100%;
}
.prodyct-body .gallery-body-box {
  padding-top: 250px;
  padding-bottom: 70px;
}
.prodyct-body .gallery-body-box .gallery-search {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  top: 185px;
  transform: translate(-50%, 0);
}
@media (max-width: 630px) {
  .prodyct-body .gallery-body-box .gallery-search {
    width: 220px;
  }
}
.prodyct-body .gallery-body-box .gallery-search .search-box {
  width: 100%;
  max-width: 220px;
  height: 30px;
  margin-bottom: 5px;
}
.prodyct-body .gallery-body-box .gallery-search .search-box input {
  width: 100%;
  height: 100%;
}
.prodyct-body .gallery-body-box .gallery-search .select-product {
  width: 100px;
  height: 30px;
}
.prodyct-body .gallery-body-box .gallery-search .select-type {
  display: none;
  width: 100px;
  height: 30px;
}
.prodyct-body .gallery-body-box .gallery-search .selecct-somthing {
  display: block;
}
.prodyct-body .gallery-body-box .gallery-container {
  width: 99%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.prodyct-body .gallery-body-box .gallery-container .image-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 90%;
  width: auto;
  background-color: black;
  z-index: 5;
  text-align: center;
}
@media (max-width: 1100px) {
  .prodyct-body .gallery-body-box .gallery-container .image-modal {
    width: 90%;
    height: auto;
  }
}
.prodyct-body .gallery-body-box .gallery-container .image-modal .close-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  cursor: pointer;
}
.prodyct-body .gallery-body-box .gallery-container .image-modal img {
  margin: auto;
  display: block;
}
.prodyct-body .gallery-body-box .gallery-container .image-modal .modal-content {
  width: 100%;
}
.prodyct-body .gallery-body-box .gallery-container .image-modal .prev-btn {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 3;
  transform: translate(0, -50%);
  cursor: pointer;
}
.prodyct-body .gallery-body-box .gallery-container .image-modal .next-btn {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 3;
  transform: translate(0, -50%);
  cursor: pointer;
}
.prodyct-body .gallery-body-box .gallery-container .product-box {
  width: 150px;
  height: 200px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.prodyct-body .gallery-body-box .gallery-container .product-box .product-img {
  width: 100%;
  height: 150px;
  cursor: zoom-in;
}

body .about-body-box {
  justify-content: space-around;
}
@media (max-width: 940px) {
  body .about-body-box {
    height: 1100px;
  }
}
body .about-body-box .about-text {
  width: 65%;
  min-width: 285px;
  height: 30%;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
body .about-body-box .about-text .about-p {
  font-family: "Fjalla One";
  line-height: 20px;
  text-indent: 15px;
}
body .about-body-box .about-text .about-p span {
  font-weight: bold;
}
body .about-body-box .about-info-box {
  width: 65%;
  min-width: 285px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 940px) {
  body .about-body-box .about-info-box {
    flex-direction: column;
    height: 600px;
  }
}
body .about-body-box .about-info-box .about-info {
  width: 50%;
  min-width: 285px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .about-body-box .about-info-box .about-info a {
  font-family: "Lobster";
  font-size: 16px;
  color: black;
}
body .about-body-box .about-info-box .about-info a i {
  margin-right: 15px;
  font-size: 30px;
}
body .about-body-box .about-info-box .about-info .mail-contact,
body .about-body-box .about-info-box .about-info .map-contact {
  font-family: "Fjalla One";
}
body .about-body-box .about-info-box .about-map {
  width: 50%;
  height: 250px;
  min-width: 285px;
}
@media (max-width: 940px) {
  body .about-body-box .about-info-box .about-map {
    width: 95%;
  }
}
body .about-body-box .about-info-box .about-map iframe {
  border-radius: 10px;
}