body {
    .about-body-box {
        justify-content: space-around;
        @media (max-width:940px) {
            height: 1100px;
        }
        .about-text{
            width: 65%;
            min-width: 285px;
            height: 30%;
            max-height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            .about-p {
                font-family: $L-reg;
                line-height: 20px;
                text-indent: 15px;
                span {
                    font-weight: bold;
                }
            }
        }
        .about-info-box {
            width: 65%;
            min-width: 285px;
            height: 300px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media (max-width:940px) {
                flex-direction: column;
                height: 600px;
            }
            .about-info {
                width: 50%;
                min-width: 285px;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                a {
                    font-family: $L-reg;
                    font-size: 16px;
                    color: black;
                    i {
                        margin-right: 15px;
                        font-size: 30px;
                    }
                }
            }             
            .about-map {
                width: 50%;
                height: 250px;
                min-width: 285px;@media (max-width:940px) {
                    width: 95%;
                }
                iframe {
                    border-radius: 10px;
                }
            }
        }
    }
}