body {
    @extend %body;
    header {
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        padding: 5px 10px 5px 0;
        background-color:#dddde1;
        position: fixed;
        top: 0;
        z-index: 2;                    
        .logo-box {
            width: 170px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media ( max-width: 640px ) {
                display: none;
            }
            .logo-img {
                width: 50px;
                height: 50px;
            }
        }      
        .flag-box{
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-image: url(../../img/georgia.png);
            max-width: 100%;
            max-height: 100%;            
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            .header-h1 {
                h1 {
                    font-family: $h-reg;
                    font-size: 50px;
                    font-weight: bolder;
                    color: #434141;
                }
            }
            .header-h5 {
                font-family: $L-reg;
                font-size: 30px;
                @media ( max-width: 480px ) {
                    font-size: 25px;
                }
            }
        }            
        .language-box,
        .language-box1 {
            width: 30px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .lang-links {
                display: flex;
                .lang-flag {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-top: 10px;
                }
            }
        }             
        .language-box1 {
            display: none;
            @media (max-width: 640px) {
                display: block;
            }
        }         
    }
    .body-box  {
        width: 99%;
        height: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 200px 20px 50px 20px;
        @media (max-width: 640px) {
            height: 1250px;
            justify-content: space-evenly;
        }
        .all-products {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width: 640px) {
            height: 850px;
            flex-direction: column;
            justify-content: space-between;
        }
            .product-type {
                width: 300px;
                display: flex;
                border-radius: 10%;
                border: 3px dotted #4b4bf5;
                @media (max-width: 750px) {
                    width: 250px;
                }
                .create,
                .products {
                    width: 100%;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    border-radius: 10%;
                    .idea-p {
                        font-family: $hp-reg;
                        font-size: 30px;
                        line-height: 40px;
                        text-align: center;
                        @media (max-width:750px) {
                            font-size: 25px;
                        }
                    }
                    .idea-painting {
                        width: 100%;
                        height: 250px;
                        background-image: url(../../img/painting.gif);
                        background-size:contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .product-painting { 
                        width: 100%;
                        height: 250px;                       
                        background-image: url(../../img/product.gif);
                        background-size:contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        .footer-box {
            width: 250px;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            bottom: 25px;
            padding: 10px;
            border-radius: 25px;
            background-color: #d9d6d6;             
            .soc-box {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                background-color: #1877F2;
                cursor: pointer;
                .media-icons {
                    display: none;
                    width: 35px;
                    height: 150px;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position: fixed;
                    bottom: 90px;
                    background-color: #b8f59d;
                    border-radius: 30px;
                    .fa-brands {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .insta-back {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        background-image: url(../../img/insta-back.jfif);            
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        .fa-instagram {
                            font-size: 24px;
                        }
                    }
                }
            }  
            .soc-title {
                width: 60px;
                height: 15px;
                position: fixed;
                left: 50%;
                bottom: 60px;
                font-family: $hp-reg;
                font-weight: bolder;
                display: none;
                transform: translate(-50%, -50%);
            }             
            .soc-box:hover + p {
                display: block;
              }
              .menu-box {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                background-color: #1877F2;
                cursor: pointer;
                .burger-icon {
                    display: block; 
                    color: black;
                    font-size: 30px;
                    padding-top: 3px;
                    cursor:pointer; 
                }
                .menu-ul1 { 
                    display: none;
                    li {
                        font-family: $fo-reg;                    
                        font-size: 16px;
                        .active {
                            font-weight: bolder;
                            color: darkblue;
                        }
                        a {
                        color: black;
                        }
                    }
                    li:first-child {
                        font-size: 18px;
                    }
                    li:last-child {
                        margin-top: 15px;
                    }
                }
                .menu-ul1.open-menu {
                    width: 150px;
                    height: 150px;            
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 10px;
                    position: fixed;
                    left: 50%;
                    padding: 5px;
                    transform: translate(-50%, -85%);
                    background-color:#b8f59d;                                 
                }                
            }
            .menu-title {                
                width: 60px;
                height: 15px;
                position: fixed;
                left: 50%;
                bottom: 60px;
                font-family: $hp-reg;
                font-weight: bolder;
                display: none;
                transform: translate(-50%, -50%);
            }             
            .menu-box:hover + p {
                display: block;
            }   
            .container {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .circle-bg {
                    height: 30px;
                    width: 30px;
                    background-color: 	#1877F2;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    vertical-align: middle;
                    .icon {
                        color: white;
                        display: table-cell;
                        font-size: 15px;
                        text-align: center;
                        vertical-align: middle; 
                        padding-top: 3px;
                        padding-right: 2px;                       
                    }
                }
                  .outer-icons {
                    height: 150px;
                    display: none;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position: fixed;
                    bottom: 90px;
                    background-color: #b8f59d;
                    border-radius: 30px;
                    padding-top: 8px;
                    .share-list {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        a {
                            span {                                
                                border-radius: 30px;
                            }
                        }
                        .insta-back {
                            width: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 10px;
                            background-image: url(../../img/insta-back.jfif);            
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            .fa-instagram {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            .share-title {
                height: 15px;
                position: fixed;
                left: 50%;
                bottom: 60px;
                font-family: $hp-reg;
                font-weight: bolder;
                display: none;
                transform: translate(-50%, -50%);
            }             
            .container:hover + p {
                display: block;
              }  
        }
        .footer-hide {
            position: fixed;
            bottom: 5px;
            border-radius: 30px;
            font-size: 10px;
        }       
        .hidden {
            display: none;
        }
    }


}
