body {
    @extend %body;
    header {
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        padding: 5px 10px 5px 0;
        background-color:#dddde1;
        position: fixed;
        top: 0;
        z-index: 2;                    
        .logo-box {
            width: 170px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media ( max-width: 640px ) {
                display: none;
            }
            .logo-img {
                width: 50px;
                height: 50px;
            }
        }      
        .flag-box{
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-image: url(../../img/georgia.png);
            max-width: 100%;
            max-height: 100%;            
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            .header-h1 {
                h1 {
                    font-family: $h-reg;
                    font-size: 50px;
                    font-weight: bolder;
                    color: #434141;
                }
            }
            .header-h5 {
                font-family: $L-reg;
                font-size: 30px;
                @media ( max-width: 480px ) {
                    font-size: 25px;
                }
            }
        }            
        .language-box,
        .language-box1 {
            width: 30px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .lang-links {
                display: flex;
                .lang-flag {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-top: 10px;
                }
            }
        }             
        .language-box1 {
            display: none;
            @media (max-width: 640px) {
                display: block;
            }
        }         
    }
    .body-box  {
        width: 99%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 200px 20px 50px 20px;
        @media (max-width: 640px) {
            height: 1250px;
            justify-content: space-evenly;
        }
        .your-idea {            
            height: 50px;
            font-family: $hp-reg;
            font-size: 35px;
            @media (max-width: 680px) {
                font-size: 25px;
            }
            @media (max-width: 480px) {
                font-size: 15px;
            font-weight: bold;
            }
        }
        .all-products {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width: 640px) {
            height: 850px;
            flex-direction: column;
            justify-content: space-between;
        }
            .product-type {
                width: 300px;
                display: flex;
                border-radius: 10%;
                border: 3px dotted #4b4bf5;
                @media (max-width: 750px) {
                    width: 250px;
                }
                .create,
                .products {
                    width: 100%;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 10px;
                    border-radius: 10%;
                    .idea-p {
                        font-family: $hp-reg;
                        font-size: 20px;
                        line-height: 30px;
                    }
                    .idea-painting {
                        width: 100%;
                        height: 250px;
                        background-image: url(../../img/create-img.gif);
                        background-size:contain;
                        background-repeat: no-repeat;
                    }
                }
                .products {
                    background-color: green;
                }
            }
        }
        .footer-box {
            width: 250px;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            bottom: 20px;
            padding: 10px;
            border-radius: 25px;
            background-color: #d9d6d6;
            .soc-box {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                background-color: #1877F2;
                cursor: pointer;
                .media-icons {
                    display: none;
                    width: 35px;
                    height: 120px;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position: fixed;
                    bottom: 10%;
                    background-color: #d9d6d6;
                    border-radius: 30px;
                    .fa-brands {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .insta-back {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        background-image: url(../../img/insta-back.jfif);            
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        .fa-instagram {
                            font-size: 24px;
                        }
                    }
                }
            }  
            .soc-title {
                width: 60px;
                height: 15px;
                position: fixed;
                left: 50%;
                bottom: 55px;
                font-family: $hp-reg;
                font-weight: bolder;
                display: none;
                transform: translate(-50%, -50%);
            }             
            .soc-box:hover + p {
                display: block;
              }      
            .about-us {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 30px;
                background-color:#1877F2;                
            }
            .about-title {
                width: 70px;
                height: 15px;
                position: fixed;
                left: 50%;
                bottom: 55px;
                font-family: $hp-reg;
                font-weight: bolder;
                display: none;
                transform: translate(-50%, -50%);
            }             
            .about-us:hover + p {
                display: block;
              }   
            .container {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                .circle-bg {
                    background-color: 	#1877F2;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    vertical-align: middle;
                    .icon {
                        color: white;
                        display: table-cell;
                        font-size: 15px;
                        text-align: center;
                        vertical-align: middle;                        
                    }
                }
                  .outer-icons {
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position: fixed;
                    bottom: 10%;
                    opacity: 0;
                    background-color: #d9d6d6;
                    border-radius: 30px;
                    padding-top: 8px;
                    .share-list {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        a {
                            span {                                
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
            .share-title {
                height: 15px;
                position: fixed;
                left: 50%;
                bottom: 55px;
                font-family: $hp-reg;
                font-weight: bolder;
                display: none;
                transform: translate(-50%, -50%);
            }             
            .container:hover + p {
                display: block;
              }  
        }
        .footer-hide {
            position: fixed;
            bottom: 5px;
            border-radius: 30px;
            font-size: 10px;
        }       
        .hidden {
            display: none;
        }
    }


}
